<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>hello</title>
</head>


<body>
<div class="container">

    <div class="col-6">
        <label><b>채팅방</b></label>
    </div>

    <form th:action="@{/chat/room}" method="get">
        <input type="text" name="chatRoomId" class="form-control">
        <input type="text" name="nickname" class="form-control">
        <button class="btn btn-secondary">참여하기</button>
    </form>
    <div class="mt-4">
        <h2>Chat Rooms</h2>
        <ul>
            <li th:each="room : ${rooms}">
                <p>ID: <span th:text="${room.id}"></span></p>
                <p>Name: <span th:text="${room.name}"></span></p>
            </li>
        </ul>
    </div>

</div>
</body>

</html>